node-red/data/flows.json
[{"id":"6f436e7c.86888","type":"tab","label":"Flow 1"},{"id":"166d35a9.c7ac9a","type":"mqtt-broker","z":"","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"828f333c.e8fc6","type":"inject","z":"6f436e7c.86888","name":"thinh","topic":"","payload":"Hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":337,"y":345,"wires":[["4b590e2e.3ddfb"]]},{"id":"4b590e2e.3ddfb","type":"debug","z":"6f436e7c.86888","name":"","active":true,"console":"false","complete":"false","x":630,"y":363,"wires":[]},{"id":"252f220d.8aee6e","type":"inject","z":"6f436e7c.86888","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":338,"y":557,"wires":[[]]}]